*{
    margin: 0;
    padding: 0;
}
a{
     text-decoration:none ;
}
body{
     font-size: 16px;
     background: rgb(255, 226, 244);
}
.page{
    width: 100%;
}
.page-top{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12.8vh;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    background: rgb(253, 222, 232);
}
.page-top a{
    font-size: 36px;
    font-weight: bold;
    color: #fba7cd;
}
.page-top p{
    color: #cd9fac;
}
.page-con{
    display: flex;
    min-height: 87.2vh;
    margin-top: 12.8vh;
    background: rgb(255, 226, 244);
}
.pc-nav{
    position: fixed;
    top: 0vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    left: 0%;
    width: 13%;
    background: rgb(255, 214, 225);
    box-shadow: 4px 0 4px 0 #fbaed1;
}
.pc-box{
    margin-left: 13%;
    width: 87%;
    box-sizing: border-box;
    padding: 0 20px;
}
.nav{
    width: 100%;
    margin-top: 6vh;
    margin-bottom: 1vh;
}
.nav a{
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #fbaed1;
}
.nav .active,.nav a:hover{
    color: #b6ddff;
}
.code{
    width: 100%;
    text-align: center;
}
.code img{
    width: 150px;
    height: 150px;
}
.code p{
    color: #fbaed1;
    font-size: 14px;
    margin-top: 8px;
}
.code h6{
    color: #fbaed1;
    font-size: 12px;
    margin-top: 8px;
}
.home-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0px;
}
.banner{
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
}
.banner img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}